:root {
    background-color: rgba(0, 0, 0, 0);
}

.container {
    display: flex;
    flex-direction: column;
}

.sudoku-grid {
    display: grid;
    grid-template-columns: repeat(9, 40px);
    grid-template-rows: repeat(9, 40px);
    gap: 0;        
    border: 1px solid black;
}

.cell {
    width: 40px;
    height:40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    border: inherit;
    background-color: rgba(255,255,255,0.6);

}

/* Thicker right border every 3rd column */
.cell:nth-child(3n):not(:nth-child(9n)) {
  border-right: 2px solid black;
}

/* Thicker bottom border for rows 3 and 6 */
.cell:nth-child(n+19):nth-child(-n+27),
.cell:nth-child(n+46):nth-child(-n+54) {
  border-bottom: 2px solid black;
}

.cell.selected {
    background-color: rgba(200,200,200,0.6);
}

.cell.given {
    font-weight: bold;
    color:black;
    cursor: none;
}

.cell.user-input {
    color: blue;
}

.cell.error {
  color: red;
}